*{
    background-color: #07273B;
    color: #79AFCA;
}

body{
    background-color: #07273B;
}

*::selection{
    background-color: #79afca33;
}

.heading{
    text-align: center;
    color: #79AFCA;
    text-shadow: 0px 50px 50px rgb(0, 227, 243);
    margin:8vw;
}


.after_heading{
    width: 50vw;
    border-style: solid;
    border-width: 0px;
    border-top-width: 8px;
    border-color: #79AFCA;
    padding:0%;
}


.tools, .languages{
    box-shadow: 0px 0px 30px black;
    grid-template-columns: auto auto;
    padding: 15px;
    margin-top: 50px;
    width: 50%;
    display: block;
    border: #79AFCA solid 2px;
    border-radius: 1.5vw;
    text-align: center;
    background-color: #09334E;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 20vw;
    animation-name: glow-off;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

@keyframes glow-off{
    from{box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);}
    to{box-shadow: 0px 0px 30px black;}
}

.tools{
    margin-right: 3vw;
    margin-left: 20vw;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.bg{
    background-color: #09334E;
}

.tools>ul,.languages>ul{
    text-align: left;
}

.tools:hover, .languages:hover{
    /* box-shadow: 0px 0px 30px black; */
    animation-name: glow;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);
}

@keyframes glow{
    from{box-shadow: 0px 0px 30px black;}
    to{box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);}
}