*{
    background-color: #07273B;
    color: #79AFCA;
    scroll-behavior: smooth;
    font-family: "Fira Code";

}

body{
    background-color: #07273B;
}

*::selection{
    background-color: #79afca33;
}
::selection{
    background-color: #79afca33;
}

.heading{
    text-align: center;
    color: #79AFCA;
    text-shadow: 0px 50px 50px rgb(0, 227, 243);
    margin:8vw;
    font-weight: bold;
}


.after_heading{
    width: 50vw;
    border-style: solid;
    border-width: 0px;
    border-top-width: 8px;
    border-color: #79AFCA;
    padding:0%;
}


.tools, .glow-div{
    overflow: hidden;
    box-shadow: 0px 0px 30px black;
    grid-template-columns: auto auto;
    padding: 15px;
    margin-top: 50px;
    width: 100%;
    display: block;
    border: #79AFCA solid 2px;
    border-radius: 1.5vw;
    text-align: center;
    background-color: #09334E;
    width: 20vw;
    animation-name: glow-off;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.tools{
    margin-right: 20px;
}
.glow-div{
    margin-left: 20px;
}

@keyframes glow-off{
    from{box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);}
    to{box-shadow: 0px 0px 30px black;}
}

.grid-container{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.bg{
    background-color: #09334E;
}

.tools>ul,.glow-div>ul{
    text-align: left;
}

.tools:hover, .glow-div:hover{
    animation-name: glow;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);
}
intro:hover{
    animation-name: glow;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);
}

@keyframes glow{
    from{box-shadow: 0px 0px 30px black;}
    to{box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);}
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.profile-pic{
    box-shadow: 0px 0px 30px black;
    left: 2vw;
    top: 2vw;
    position:fixed;
    transform: rotate(0deg);
    width: 10vw;
    border-radius: 100%;
    animation-name: rot, glow-off;
    animation-iteration-count: 1, 1;
    animation-duration: 500ms, 1000ms;
}

@keyframes rot {
    from{transform: rotate(360);}
    to{transform: rotate(0deg);}
}

.profile-pic:hover{
    box-shadow: 0px 0px 30px rgba(0, 227, 243, 0.548);
    animation-name: glow, rot-back;
    animation-iteration-count: 1, infinite;
    animation-duration: 1000ms, 500ms;
}
@keyframes rot-back {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#contact{
    width: 25%;
}
#who{
    width: 50%;
}

@media screen and (max-width: 800px) {
.grid-container{
    justify-content: center;
    display: block;
}
.tools{
    width: 75%;
    margin-left: 10%;
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
}
.glow-div{
    width: 75%;
    margin-left: 0%;
    margin-left: 10%;
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
}

.out>.glow-div{
    width: 100%;
}
#contact{
    width: 75%;
    margin-left:0%;
    margin-right:5%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 5%;
}
#who{
    width: 75%;
    margin-left:0%;
    margin-right:5%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
}
}